<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i> &nbsp;<b>WanderHub</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link poppins-regular" aria-current="page" href="/listings">Home</a>
          <a class="nav-link poppins-regular" href="/listings">All Listings</a>
          <a class="nav-link poppins-regular" href="/listings/new">Add New Listing</a>
      </div>
      <div class=" profile ms-auto m-2">
        <a class="nav-link poppins-regular" href="/profile"><i class="fa-solid fa-user"></i></a>
      </div>
      <a class="nav-link" href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
     </a>
    </div>
  </nav>