<% layout("/layouts/boilerplate") %>

<style>
    .filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align: center;
        margin-right: 2.5rem;
    }
    .filter:hover{
        color: #fe424d;
        cursor: pointer;

    }
    .filter p{
        font-size: 0.8rem;
    }
    .tax-info {
        display:none;
    }
    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }

</style>
<br>
<div class="filters ">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-tent"></i></div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-landmark-dome"></i></div>
        <p>Domes</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
    </div>
    <div class="tax-toggle mb-2">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display Total Of Taxes</label>
          </div>
    </div>
</div>
<hr>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card cols listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:18rem">
                <div class="card-img-overlay"><i class="fa-solid fa-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title poppins-regular"><b><%= listing.title %></b></h5>
                <p class="card-text poppins-regular">
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                    <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
                </p>
                </div>
            </div>
        </a>
    <% } %>
</div>
            
<script>
    let taxSwitch = document.getElementById('flexSwitchCheckDefault');
    taxSwitch.addEventListener('click', () =>{
        let taxinfo = document.getElementsByClassName('tax-info');
        for(info of taxinfo) {
            if(info.style.display != 'inline'){
            info.style.display = 'inline';
            } else {
                info.style.display = 'none';
            }
        }
    })
</script>
