<% layout("/layouts/boilerplate") %>

<style>
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
    }
    .filter:hover{
        color: #fe424d;
        cursor: pointer;

    }
    .filter p{
        font-size: 0.8rem;
    }

</style>
<br>
<div class="filters ">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Artic</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-tent"></i></div>
        <p>Camping</p>
    </div>
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
          </div>
    </div>
</div>
<hr>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card cols listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:18rem">
                <div class="card-img-overlay"><i class="fa-solid fa-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title poppins-regular"><b><%= listing.title %></b></h5>
                <p class="card-text poppins-regular">
                    &#8377; <%= listing.price %> / night
                </p>
                </div>
            </div>
        </a>
    <% } %>
</div>
            


