.poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d !important;
    font-size: 2rem !important;
}

.nav-link{
    color: #222222  !important;
}

.card{
    border: none !important;
    margin-bottom: 2rem !important;
    
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.newpage{
    padding: 7px;
}
